.upper-div{
/* width: 1920px; */
/* UI Properties */
background: transparent linear-gradient(180deg, #000000 0%, #110606 48%, #8B0000 100%) 0% 0% no-repeat padding-box;
}
.lower-div{
/* width: 1920px; */
height: 59px;
/* UI Properties */
background: #000000 0% 0% no-repeat padding-box;
}
.col p{
    margin-bottom: 0%;
    margin: 15px 0px;
}