.container2 ul{
    display: flex;
    list-style: none;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B0000;
    padding: 16px 155px;
    border-bottom: 1px solid #e5e5e5;
}
.container2 ul li{
    color: #e5e5e5;
    padding: 0px 25px;
    cursor: pointer;
}
.container2 ul li:hover{
    color: #dd999c;
    padding: 0px 25px;
    
}
.drop-down-1 {
    z-index: -1;
}
.drop-down-1:hover{
     z-index: 1;
}

.social-icons  img{
    /* display: flex; */
    /* justify-content: space-between; */
    /* width:15%; */
    padding: 0px 20px;
    cursor: pointer;
}
.container0 {
        width: 80%;
        margin: 20px auto;
    }
ul{
    padding: 0px ;
    margin: 0px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 1200px) {
    .container2 ul{
        display: none;
    }
    .container1{
        display: flex;
        justify-content: flex-end;
        padding: 16px 20px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}